.thumbnail img{
    max-height: 150px;
}

.thumbnail .description{
    color: #999999;
}

.price{
    font-weight: bold;
    font-size: 16px;
}

.navcolor{
    background-color: #E9E581;
}

.whity{
    color: #ffffff;
}
