<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="/images/inferno.png" alt="...">
      <div class="caption">
        <h3 class="text-center">Inferno</h3>
        <p class ="description">Inferno is a 2013 mystery thriller novel by American author Dan Brown and the fourth book in his Robert Langdon series, following Angels & Demons, The Da Vinci Code and The Lost Symbol. </p>
        <div class ="clearfix">
            <div class="price">Rs.450</div>
                <a href="#" class="btn btn-success" role="button">Buy</a>
                 <a href="#" class="btn btn-default active pull-right" role="button">Add to cart</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="/images/angels.jpg" alt="...">
      <div class="caption">
        <h3 class="text-center">Angels and Demons</h3>
        <p class="description">Angels & Demons is a 2000 bestselling mystery-thriller novel written by American author Dan Brown and published by Pocket Books and then by Corgi Books</p>
        <div class ="clearfix">
            <div class="price">Rs.450</div>
                <a href="#" class="btn btn-success" role="button">Buy</a>
                 <a href="#" class="btn btn-default active pull-right" role="button">Add to cart</a></p>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="/images/davinci.png" alt="...">
      <div class="caption">
        <h3 class="text-center">The Da Vini Code</h3>
        <p class="description">The Da Vinci Code is a 2003 mystery-detective novel by Dan Brown. It follows symbologist Robert Langdon and cryptologist Sophie Neveu Abraham after a murder in the Louvre Museum in Paris</p>
        <div class ="clearfix">
            <div class="price">Rs.450</div>
                <a href="#" class="btn btn-success" role="button">Buy</a>
                 <a href="#" class="btn btn-default active pull-right" role="button">Add to cart</a></p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="/images/inferno.png" alt="...">
      <div class="caption">
        <h3 class="text-center">Inferno</h3>
        <p class ="description">Inferno is a 2013 mystery thriller novel by American author Dan Brown and the fourth book in his Robert Langdon series, following Angels & Demons, The Da Vinci Code and The Lost Symbol. </p>
        <div class ="clearfix">
            <div class="price">Rs.450</div>
                <a href="#" class="btn btn-success" role="button">Buy</a>
                 <a href="#" class="btn btn-default active pull-right" role="button">Add to cart</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="/images/angels.jpg" alt="...">
      <div class="caption">
        <h3 class="text-center">Angels and Demons</h3>
        <p class="description">Angels & Demons is a 2000 bestselling mystery-thriller novel written by American author Dan Brown and published by Pocket Books and then by Corgi Books</p>
        <div class ="clearfix">
            <div class="price">Rs.450</div>
                <a href="#" class="btn btn-success" role="button">Buy</a>
                 <a href="#" class="btn btn-default active pull-right" role="button">Add to cart</a></p>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-responsive" src="/images/davinci.png" alt="...">
      <div class="caption">
        <h3 class="text-center">The Da Vini Code</h3>
        <p class="description">The Da Vinci Code is a 2003 mystery-detective novel by Dan Brown. It follows symbologist Robert Langdon and cryptologist Sophie Neveu Abraham after a murder in the Louvre Museum in Paris</p>
        <div class ="clearfix">
            <div class="price">Rs.450</div>
                <a href="#" class="btn btn-success" role="button">Buy</a>
                 <a href="#" class="btn btn-default active pull-right" role="button">Add to cart</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
